body{
  background: #eee;
}
main{
  min-height: 70vh;
}
.brands {
    width: inherit;
    overflow: hidden;
  }
  .brands__slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-left: -25%;
  }
  .brands__slider div {
    min-width: 25%;
    text-align: center;
  }
  .brands__slider div img {
    max-width: 100%;
  }
 
  @media (min-width: 768px) {
    .brands__slider {
      margin-left: -20%;
    }
    .brands__slider div {
      min-width: 20%;
    }
  }

  .carousel{
    height: fit-content;
  }
